

<div class="col-md-12 col-sm-12 row d-flex">
<span class="col-md-10">
<span>
    We noticed that you have changed the profile details. Please sign up by clicking on 
    <a href="" style="color:#ff6503;font-weight: 500;">Create Account</a> 
    to save your changes for future reference.
  </span>
</span>
<span class="col-md-2" style="    margin: 0px;padding: 0px;align-self: center;">
    <button
    style=" border: unset; background-color: transparent;color: black;font-size: 1.19vw;"
    (click)="snackBarRef.dismiss()">Dismiss</button>
</span>
  
</div>