.flex-container {
  padding: 0px 0 0 0;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px!important;
}

mat-card-content {
  margin-left: 10px;
  margin-bottom: 0px;
  color: white;
  margin-top: 3%;
}

mat-card-subtitle {
  font-size: 3vh;
  margin-top: -35%;
  font-size: 1.31vw!important;
  letter-spacing: 0.32px;
}

mat-card-title {
  position: relative;
  margin-bottom: 0px;
  color: white;
  font-size: 1.31vw!important;
  letter-spacing: 0.18px;
}

.largeCardFontStyle {
  font-family: 'poppins';
  font-size: 1.31vw!important;
  letter-spacing: 0.32px;
  font-size: large;
  color: white;
}

.divider {
  position: relative!important;
  background-color: white;
  height: 2px;
  width: 90% !important;
  left: 12px!important;
}

.menuicon {
  color: blue;
}

mat-slide-toggle {
  margin-right: 6%;
}

span {
  margin-top: 2%;
}

p {
  font-size: large;
  font-weight: bold;
  color: white;
}

.largeCardFont {
  font-family: poppins;
  margin-left: 1%;
  margin-right: 1%;
}

.mat-card {
  font-family: poppins;
  border-radius: 0%;
}

.Row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
}

.Column {
  display: table-cell;
  background-color: red;
}

:host ::ng-deep .min .mat-slider-thumb {
  background-color: #33aaff;
  transform: scale(0) !important;
}

:host ::ng-deep .min .mat-slider-thumb-label {
  background-color: #48CFAD;
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  width: 10px;
  height: 10px;
  top: -4px;
  right: 0px;
}

:host ::ng-deep .min.mat-slider-thumb-label-text {
  opacity: 1 !important;
  transform: rotate(0deg) !important;
  margin-top: -20px;
}

:host ::ng-deep .min .mat-slider-track-fill {
  background-color: #33aaff;
}

:host ::ng-deep .min .mat-slider-wrapper {
  top: 18px;
}

:host ::ng-deep .min .mat-slider-track-wrapper {
  height: 6px;
  border-radius: 4px
}

:host ::ng-deep .min .mat-slider-track-background, :host ::ng-deep .min .mat-slider-track-fill {
  height: 100%;
}

:host ::ng-deep .max .mat-slider-thumb {
  background-color: #4A89DC;
  transform: scale(0) !important;
}

:host ::ng-deep .max .mat-slider-thumb-label {
  background-color: #4A89DC;
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  width: 10px;
  height: 10px;
  top: -4px;
  right: 0px;
}

:host ::ng-deep .max.mat-slider-thumb-label-text {
  opacity: 1 !important;
  transform: rotate(0deg) !important;
  margin-top: -20px;
}

:host ::ng-deep .max .mat-slider-track-fill {
  background-color: #84cbff;
}

:host ::ng-deep .max .mat-slider-wrapper {
  top: 18px;
}

:host ::ng-deep .max .mat-slider-track-wrapper {
  height: 6px;
  border-radius: 4px
}

:host ::ng-deep .max .mat-slider-track-background, :host ::ng-deep .max .mat-slider-track-fill {
  height: 100%;
}

:host ::ng-deep .max1 .mat-slider-thumb {
  background-color: #66bfff;
  transform: scale(0) !important;
}

:host ::ng-deep .max1 .mat-slider-thumb-label {
  background-color: #66bfff;
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
  width: 10px;
  height: 10px;
  top: -4px;
  right: 0px;
}

:host ::ng-deep .max1.mat-slider-thumb-label-text {
  opacity: 1 !important;
  transform: rotate(0deg) !important;
  margin-top: -20px;
}

:host ::ng-deep .max1 .mat-slider-track-fill {
  background-color: #66bfff;
}

:host ::ng-deep .max1 .mat-slider-wrapper {
  top: 18px;
}

:host ::ng-deep .max1 .mat-slider-track-wrapper {
  height: 6px;
  border-radius: 4px
}

:host ::ng-deep .max1 .mat-slider-track-background, :host ::ng-deep .max1 .mat-slider-track-fill {
  height: 100%;
}

:host ::ng-deep.mat-slider-horizontal {
  height: 31px;
}

:host ::ng-deep.mat-slider-thumb-label-text {
  margin-top: -24px;
}

:host ::ng-deep .mat-select-value-text {
  font-family: poppins;
  font-weight: 600;
}

.matInput {
  font-family: poppins;
  font-weight: 600;
}

:host ::ng-deep .mat-form-field-infix {
  padding: 0%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.first {
  order: -1;
}

.second {
  order: 0;
}

.third {
  order: 1;
}

.fourth {
  order: 2;
}

.fifth {
  order: 3;
}

.sixth {
  order: 4;
}

.fade-in {
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inactiveGrey {
  opacity: 0.3;
  color: grey;
}

#btnUP {
  margin-top: 3%;
  background-color: #0e5eb2!important;
}

#btnUP:active {
  background: #69913E!important;
}

#btnUP:focus {
  background: #69913E!important;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgba(56, 103, 165, 1);
  ;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: white;
}

.padleft {
  padding-left: 2%;
  cursor: pointer;
}

.matcardstyle {
  box-shadow: none;
  height: 100%;
}

.matdividerstyle {
  position: relative;
  background-color: white;
  height: 2px;
}
.mat-form-field{
  width: 75%;
}
.maticonstyle {
  margin-left: -36px;
  z-index: 1;
  overflow: visible;
  position: relative;
  margin-top: 20%;
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr;
}

.round {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 5px 0px 10px rgb(191 191 191 / 75%);
}

.roundleft {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 10px rgb(191 191 191 / 75%);
}

.cardShadow {
  box-shadow: 2px 2px 10px rgb(191 191 191 / 75%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.biglifeCardstyle {
  padding-left: 9.7%;
  padding-right: 9.7%;
}

.bighomeAutostyle {
  padding-left: 10.5%;
  padding-right: 8.9%;
}

@media only screen and (max-width:1024px) {
  .biglifeCardstyle {
    padding-left: 5.7%;
    padding-right: 5.7%;
  }
  .bighomeAutostyle {
    padding-left: 6.6%;
    padding-right: 4.6%;
  }
}

@media only screen and (min-width:1600px) {
  .biglifeCardstyle {
    padding-left: 16.1%;
    padding-right: 16.1%;
  }
  .bighomeAutostyle {
    padding-left: 16.7%;
    padding-right: 15.5%;
  }
}


@media only screen and (min-width:2048px) {
  .biglifeCardstyle {
    padding-left: 23.5%;
    padding-right: 23.5%;
  }
  .bighomeAutostyle {
    padding-left: 24%;
    padding-right: 23%;
  }
}



:host ::ng-deep.mat-slider-thumb-label-text {
  margin-top: -12px;
  background: #33aaff;
  color: white;
  border-radius: 3.5px;
  margin-left: 12px;
  position: absolute;
  text-align: center;
  width: 500%;
}

:host ::ng-deep .max .mat-slider-thumb-label-text {
  margin-top: -12px;
  background: #84cbff;
  color: white;
  border-radius: 3.5px;
  margin-left: 12px;
  position: absolute;
  text-align: center;
  width: 500%;
}

:host ::ng-deep .max1 .mat-slider-thumb-label-text {
  margin-top: -12px;
  background: #66bfff;
  color: white;
  border-radius: 3.5px;
  margin-left: 12px;
  position: absolute;
  text-align: center;
  width: 500%;
}

.padtop {
  padding-top: 1.5%;
}

.riskimages {
  width: 40%;
  height: 20%;
  padding-left: 9%;
}

.st0 {
  background: #F1F2F2;
  background: rgba(241, 242, 242, 1);
  border-style: Solid;
  border-width: 1px;
  width: 290px;
  height: 54px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  position: absolute;
  z-index: 1000;
  padding: 5px;
  word-wrap: break-word;
  height: auto;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 75%);
  top: 34%;
  width: 100%;
  left: -15%;
}

.riskimagespopup {
  width: 110%;
  height: 100%;
  object-fit: contain;
}

.dot {
  position: absolute;
  cursor: pointer;
  left: 98%;
  width: 19px;
  color: white;
  font-weight: 100;
  margin-top: -23px;
  border-radius: 30px;
  text-align: center;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  z-index: 500;
}

.highriskiconstyle {
  margin-left: 7px;
  z-index: 1;
  overflow: visible;
  position: relative;
  height: 36px;
  width: 70px;
  margin-right: 0%;
  position: absolute;
  left: 66%;
  margin-bottom: 6px;
  object-fit: contain;
}

#loading {
  position: absolute!important;
  left: 50%!important;
  top: 50%!important;
  z-index: 1000!important;
  width: 150px!important;
  height: 150px!important;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}





.homecardhiddenfields{
  padding-bottom:6%;
}
.nochange
{
  margin-top: 8px;
  padding-bottom: 7%;
}

.btnuploadpolicy{
  margin-top: 1%;
  margin-bottom: 2%;
  position: absolute;
  bottom: 1%;
  right: 10%;
}

.btnuploadpolicydiv{
  padding-bottom: 1%;
  padding-top:17%;
}

.btncalculatepremium{
  position: absolute;
  bottom: 2%;
  right: 1%;
  background-color: #0e5eb2!important;
}

@media only screen and (max-width:1024px) {

.btnuploadpolicy{
  margin-top: 1%;
  margin-bottom: 2%;
  position: absolute;
  bottom: 1%;
  right: 10%;
  width: 83%;
  font-size: 12px;
}

.btncalculatepremium{
position: absolute;
bottom: 3%;
right: 1%;
width: 30%;
font-size: 12px;
background-color: #0e5eb2!important;
}

}
