<div class="container mt-1">
<div style="padding-left:1%;margin-right: -8%">
  <div class="row col-md-12" style="padding:0;">
    <div class="col-sm col-md col-lg-1 col-xl-1 " style="margin-right: 30px">
      <mat-card style="padding : 0px;width: 140px; background-color: white">
        <div class="p-1 text-center" style="background-color:#AAB2BD;">
          <p style="padding:5%; margin:0%;color: white; font-weight: bold;
          font-size: medium;
          font-family: poppins;">Age</p>
        </div>
        <button style="float: left;color: #339FFB;width: 0px;vertical-align: middle;
          background-color:white; border-color:transparent;align-self:flex-start;margin-right: 10%; " (click)="agedecrement($event)"
          mat-icon-button aria-label="Example icon button with a remove icon">
          <mat-icon style="margin-top: 10px"> remove</mat-icon>
        </button>

        <button style="float: right;color: #339FFB;width: 0px;
          background-color:white;border-color:transparent; margin-right: 15%; " (click)="ageincrement($event)" mat-icon-button
          aria-label="Example icon button with a addition icon">
          <mat-icon style="margin-top: 10px">addition</mat-icon>
        </button>

        <p class="p-3" style="font-size:larger;margin-left: 17%; text-align: center;font-weight: bolder;">{{age[counter].name}}</p>

      </mat-card>
    </div>

    <div class="col-sm col-md col-lg-1 col-xl-1  " style="margin-left:30px;margin-right: 30px">

      <mat-card style="padding : 0px;width: 140px; ">
        <div class="p-1 text-center" style="background-color:#AAB2BD;">
          <p style="padding:5%; margin:0%;color: white; font-weight: bold;
          font-size: medium;
          font-family: poppins;">Zip Code</p>
        </div>
        <input type="text" id="zipCodeInputField" (keypress)="keyPress($event)" style="width: 80%;border-color: white;text-align: center;
          border-color: transparent; margin:9%;outline:none;border-block-end-color:black;font-weight: bold;font-size: large;"
          maxlength="5" minlength="5">
        <!--<mat-select placeholder="State">
        
            <mat-option value="California">California</mat-option>
            <mat-option value="New York">New York</mat-option>
            <mat-option value="Florida">Florida</mat-option>
            <mat-option value="Illinois">Illinois</mat-option>
            <mat-option value="Iowa">Washington</mat-option>
            <mat-option value="Michigan">California</mat-option>
            <mat-option value="Minnesota">Minnesota</mat-option>
            <mat-option value="Newjursy">Newjursy</mat-option>
            <mat-option value="Missouri">Missouri</mat-option>
            <mat-option value="North Carolina">North Carolina</mat-option>
            <mat-option value="Ohio">Ohio</mat-option>
            <mat-option value="Pennsylvania">Pennsylvania</mat-option>
            <mat-option value="Texas">Texas</mat-option>
            <mat-option value="Virginia">Virginia</mat-option>
          </mat-select>
           
       (onSelectionChange)="change($event)" 
           <mat-option (onSelectionChange)="handleStateChange($event)" *ngFor="let states of masterData.data" [value]="states">
              {{ states.state }}
            </mat-option>
          
          </mat-select>
        -->
      </mat-card>

    </div>
    <div class="col-sm col-md col-lg-1 col-xl-1" style=" margin-left:30px;margin-right: 30px">
      <mat-card style="width: 140px;padding: 0%;">
        <div class="p-1 text-center" style="background-color:#AAB2BD;">
          <p style="padding:5%; margin:0%;color: white; font-weight: bold;
          font-size: medium;
          font-family: poppins;">Income</p>
        </div>
        <mat-select class="text-center" style="font-weight: bold;font-size: larger;margin-top: 11%;
        margin-bottom: 11%;" [(value)]="selectedIncome">

          <mat-option *ngFor="let Income of Incomes" [value]="Income.value">
            {{Income.viewValue}}
          </mat-option>
        </mat-select>
      </mat-card>
    </div>
    <div class="col-sm col-md col-lg-1 col-xl-1  " style=" margin-left:30px;margin-right: 30px">
      <mat-card style="text-align: center;width: 140px;background-color: white;padding: 0% ">
        <div class="p-1 text-center" style="background-color:#AAB2BD;">
          <p style="padding:5%; margin:0%;color: white; font-weight: bold;
          font-size: medium;
          font-family: poppins;">Dependants</p>
          </div>

        <button style="float: right;color: #339FFB;width: 0px;margin-right: 20%;
        background-color:white; border-color: white;border-color:transparent;margin-top: 10px " (click)="depedentincrement($event)" mat-icon-button
          aria-label="Example icon button with a addition icon">
          <mat-icon>addtion</mat-icon>
        </button>

        <button style="float: left;color: #339FFB;width: 0px;
  background-color:white; border-color: white;border-color:transparent;margin-top: 10px" (click)="depedentdecrement($event)" mat-icon-button aria-label="Example icon button with a remove icon">
          <mat-icon>remove</mat-icon>
        </button>

        <p style="margin-left: 17%;font-size: larger;font-weight: bold;padding: 11%">{{dependents[counter1].name}}</p>

      </mat-card>
    </div>
    <div class="col-sm col-md col-lg-1 col-xl-1 " style=" margin-left:30px;margin-right: 30px">
      <mat-card style="text-align: center;width: 140px;padding: 0%; ">
        <div class="p-1 text-center" style="background-color:#AAB2BD;">
          <p style="padding:5%; margin:0%;color: white; font-weight: bold;
          font-size: medium;
          font-family: poppins;">Status</p>
          </div>
        <mat-select [(value)]="selectedStatus" style="justify-content: center;font-weight: bold;font-size: larger;margin-top: 11%;
        margin-bottom: 11%;">
          <mat-option *ngFor="let Status of Stat" [value]="Status.value">
            {{Status.viewValue}}
          </mat-option>

        </mat-select>

      </mat-card>
    </div>
    <div class="col-sm col-md col-lg-1 col-xl-1  " style=" margin-left:30px;margin-right: 30px">
      <mat-card style="text-align: center;width: 140px;padding: 0%; ">

        <div class="p-1 text-center" style="background-color:#AAB2BD;">
          <p style="padding:5%; margin:0%;color: white; font-weight: bold;
          font-size: medium;
          font-family: poppins;">Occupation</p> 
          </div>
        <mat-select [(value)]="selectedOccupation" style="justify-content: center;font-weight: bold;font-size: larger;margin-top: 11%;
        margin-bottom: 11%;">
          <mat-option *ngFor="let Occupation of Occupations" [value]="Occupation.value">
            {{Occupation.viewValue}}
          </mat-option>
        </mat-select>
      </mat-card>
    </div>
    <div class="col-sm col-md col-lg-1 col-xl-1  " style="margin-left:30px;">
      <mat-card style="text-align: center;width: 140px;padding: 0%;">

      <div class="p-1 text-center" style="background-color:#AAB2BD;">
        <p style="padding:5%; margin:0%;color: white; font-weight: bold;
        font-size: medium;
        font-family: poppins;">Automobiles</p>
        </div>
        <button style="float: right;color: #339FFB;width: 20px;
        background-color:white; border-color: white;border-color:transparent;margin-right: 20%;margin-top: 10px" (click)="automobileincrement($event)"
          mat-icon-button aria-label="Example icon button with a addition icon">
          <mat-icon>addtion</mat-icon>
        </button>

        <button style="float: left;color: #339FFB;width: 20px;
  background-color:white; border-color: white;border-color:transparent;margin-top: 10px" (click)="automobiledecrement($event)" mat-icon-button
          aria-label="Example icon button with a remove icon">
          <mat-icon>remove</mat-icon>
        </button>

        <p style="margin-left: 17%;font-size: larger;font-weight: bold;padding: 11%">{{automobile[counter2].value}}</p>

      </mat-card>
    </div>
  </div>
</div>
</div>