<div class="container-md container-sm">
    <div class="row" style="justify-content: space-between;margin-left:5px;padding:0;margin-right: 2px">
      <div id="ageHeaderCard" class="col-sm col-md" >
        <mat-card class="mat">
          <div class="p-1 text-center mat-div">
            <p class="topP">Age</p>
          </div>
          <button class="buttonsub" (click)="agedecrement($event)" mat-icon-button>
            <mat-icon style="margin-top: 10px;margin-left:-5px;"> remove</mat-icon>
          </button>

          <button class="buttonadd" (click)="ageincrement($event)" mat-icon-button >
            <mat-icon style="margin-top: 10px">addition</mat-icon>
          </button>
          <p class="p-3" id="bottomP">{{age[counter].name}}</p>
        </mat-card>
      </div>

      <div id="zipHeaderCard" class="col-sm col-md">

        <mat-card class="mat">
          <div class="p-1 text-center mat-div">
            <p class="topP">Zip Code</p>
          </div>
          <input type="text" class="zip" id="zipCodeInputField" (keypress)="keyPress($event)" >
          <!--<mat-select placeholder="State">
        
            <mat-option value="California">California</mat-option>
            <mat-option value="New York">New York</mat-option>
            <mat-option value="Florida">Florida</mat-option>
            <mat-option value="Illinois">Illinois</mat-option>
            <mat-option value="Iowa">Washington</mat-option>
            <mat-option value="Michigan">California</mat-option>
            <mat-option value="Minnesota">Minnesota</mat-option>
            <mat-option value="Newjursy">Newjursy</mat-option>
            <mat-option value="Missouri">Missouri</mat-option>
            <mat-option value="North Carolina">North Carolina</mat-option>
            <mat-option value="Ohio">Ohio</mat-option>
            <mat-option value="Pennsylvania">Pennsylvania</mat-option>
            <mat-option value="Texas">Texas</mat-option>
            <mat-option value="Virginia">Virginia</mat-option>
          </mat-select>
           
       (onSelectionChange)="change($event)" 
           <mat-option (onSelectionChange)="handleStateChange($event)" *ngFor="let states of masterData.data" [value]="states">
              {{ states.state }}
            </mat-option>
          
          </mat-select>
        -->
        </mat-card>

      </div>
      <div id="incomeHeaderCard" class="col-sm col-md">
        <mat-card class="mat">
          <div class="p-1 text-center mat-div">
            <p class="topP">Income</p>
          </div>
          <mat-select class="text-center incomeTextStyle" id="dropdown" [(value)]="selectedIncome">

            <mat-option *ngFor="let Income of Incomes" [value]="Income.value">
             <span  class="incomeTextStyle"> {{Income.viewValue}}</span>
            </mat-option>
          </mat-select>
        </mat-card>
      </div>
      <div id="dependentHeaderCard" class="col-sm col-md">
        <mat-card class="mat">
          <div class="p-1 text-center mat-div">
            <p class="topP">Dependants</p>
          </div>
          <button class="buttonsub1" (click)="depedentdecrement($event)" mat-icon-button aria-label="Example icon button with a remove icon">
            <mat-icon>remove</mat-icon>
          </button>

          <button class="buttonadd1" (click)="depedentincrement($event)" mat-icon-button aria-label="Example icon button with a addition icon">
            <mat-icon>addtion</mat-icon>
          </button>
          <p class="p-3" id="bottomP">{{dependents[counter1].name}}</p>

        </mat-card>
      </div>
      <div id="statusHeaderCard" class="col-sm col-md">
        <mat-card class="mat">
          <div class="p-1 text-center mat-div">
            <p class="topP">Status</p>
          </div>
          <mat-select [(value)]="selectedStatus" id="dropdown">
            <mat-option *ngFor="let Status of Stat" [value]="Status.value">
              {{Status.viewValue}}
            </mat-option>
          </mat-select>

        </mat-card>
      </div>
      <div id="occupationHeaderCard" class="col-sm col-md">
        <mat-card class="mat">

          <div class="p-1 text-center mat-div">
            <p class="topP">Occupation</p>
          </div>
          <mat-select [(value)]="selectedOccupation" id="dropdown">
            <mat-option *ngFor="let Occupation of Occupations" [value]="Occupation.value">
              {{Occupation.viewValue}}
            </mat-option>
          </mat-select>
        </mat-card>
      </div>
      
      <div id="automobileHeaderCard" class="col-sm col-md">
        <mat-card class="mat">

          <div class="p-1 text-center mat-div">
            <p class="topP">Automobiles</p>
          </div>

          <button class="buttonsub1" (click)="automobiledecrement($event)" mat-icon-button aria-label="Example icon button with a remove icon">
            <mat-icon>remove</mat-icon>
          </button>

          <button class="buttonadd1" (click)="automobileincrement($event)" mat-icon-button aria-label="Example icon button with a addition icon">
            <mat-icon>addtion</mat-icon>
          </button>

          <p class="p-3" id="bottomP">{{automobile[counter2].value}}</p>

        </mat-card>
      </div>
    </div>
</div>