<div class="flex-row col-md-12" style="background-color: orchid;">

    <!-- <div style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;"> -->
        <!-- <button mat-icon-button class="m-3 p-1" (click)="decrement()">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>

        <input type="text" value={{counter$|async}} style="text-align: center;">

        <button mat-icon-button class="m-3 p-1" (click)="increment()">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>
    </div> -->
    

    <!-- <div (click)="switchState()" style="height: 100px; width: 100px; align-self: center;" [@divState]="stateName"></div> -->

</div>