/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #E6E9ED; }
body { margin: 0; }


@font-face {
    font-family: poppins;
    src: url(assets/Poppins/Poppins-Regular.ttf);
  }

  /* @font-face {
    font-family: poppins;
    src: url(assets/Poppins/Poppins-Regular.ttf);
  } */